html, body {
   @include pageSetup;
}

body {
    background-color: $backgroundColor;
    color: $baseColor;
    font-size: $baseFont;
}

/*---------Footer---------*/

footer { 
    color: #c2c2c2;
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center; 
    @include desktop {
        justify-content: flex-start;
        padding-left: 75px;
    }

    .credit {
        @include fontNormal;
        font-size: 14px;
    }
}

