h1 {
    display: none;
}

.mainSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
   
    @include tablet {
        flex-direction: row;
        justify-content: center;
    }

    @include desktop {
        justify-content: flex-start;
    }

    .logo {
        transition: padding $generalTrans;
        padding: $mainSearchPad;

        @include tablet {
            padding-bottom: 0;
            padding-left: 2rem;
            flex: 0 1 47%;
            display: flex;
            justify-content: flex-end;
        }

        @include desktop {
            flex: 0;
        }
    }

    img {
       @include tablet {
            align-self: flex-end;
            width: 21vw;
        } 
        @include desktop {
            width: auto;
        }
    }
}

.resultsHeader{
    height: 35%;
    margin: 1rem 0;
    @include tablet {
        height: 125px;
        margin: 0.5em 0;
    } 

    .logo{
        img{
            height: 9rem;
            @include tablet {
                height: 4rem;
                padding-top: 0;
            } 

        }
    }
}

.choose {
    @include fontNormal;
    padding: $mainSearchPad;
    font-size: $baseFont - 4;
    text-align: center; 
    transition: text-align $generalTrans;
    @include tablet {
        text-align: left;
        font-size: $baseFont - 2;
    }
    @include desktop {
        font-size: $baseFont;
    }
}

.sections {
    transition: all $generalTrans;
    @include tablet {
        flex: 0 0 53%;
    }
    @include desktop {
        margin-left: 6vw;
    }
}

.select { 
    padding: $mainSearchPad;
    select {
        background: $selectBackground;
        border: 1px solid white;
        border-radius: 0;
        height: 2.5rem;
        width: 12rem;
        font-size: 0.8rem;
        @include fontNormal;
        color: white;
        option {
            background: $selectBackground;
        }
    }
}