@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin fontNormal {
 font-family: 'open-sans';
  font-weight: normal;
  font-style: normal;
}

@mixin pageSetup {
  height: 100%;
  margin: 0;
  max-width: 100%;
}