
.load{

    width: 100%;
    
    img{
        display: flex;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 10px 0;
    }
}
    
.searchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 26rem;
        width: 100%;
        overflow: hidden;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 25%;
        }
    }
        .articleWrap {
            display: flex;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
        
        .abstract {
            @include fontNormal;
            position: absolute;
            line-height: 1.5rem;
            height: 0;
            left: 0; 
            bottom: 0;
            padding: 10px;
            max-width: 100%;
            visibility: hidden;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.7);
            transition: height 1s;
        }

        &:hover .abstract{
            visibility: visible;
            height: 150px;
        }

    }
}