//mixins variables

$desktop-width: 1000px;
$tablet-width: 600px;

//global

$backgroundColor: #000000;
$baseColor: #ffffff;
$baseFont: 16px;
$generalTrans: 0.5s ease-in-out 0.5s;

$mainSearchPad: 0.6rem;
